/* .leaflet-interactive {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .leaflet-interactive:hover {
    transform: translateY(-5px);
  }
   */
  
   .leaflet-interactive {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #f0f0f0; /* Add your desired background color */
  }
  
  .leaflet-interactive:hover {
    transform: translateY(-5px);
    background-color: #007bff; /* Change background color on hover */
  }
  